<div class="container text-center rounded-lg">
  <br>
  <h3 class="title">Rocket Tracker</h3>
<br>
</div>

<!-- Aggregated Data -->
<div class="alert alert-primary container" role="alert">
  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-12">
     <img src="https://img.icons8.com/plasticine/100/000000/rocket.png" height="40px">
   </div>
   <div class="col-lg-11 col-md-11 col-sm-12 align-items-center">
      <p *ngIf="daysToNextLaunch() === 0" class="nextEvent">Currently, there are no scheduled launches.</p>
      <p *ngIf="daysToNextLaunch() === -1" class="nextEvent">Next launch is today!</p>
      <p *ngIf="daysToNextLaunch() === 1" class="nextEvent">Next launch in tomorrow!</p>
      <p *ngIf="daysToNextLaunch() > 1" class="nextEvent">Next launch in {{ daysToNextLaunch() }} days!</p>
    </div>
  </div>
</div>

<!--Table with events-->
<div class="container rounded-lg bg-light" *ngIf="!selectedEvent" style="padding-bottom: 5px;">
  <table class="table table-hover">
    <thead>
      <th>Name</th>
      <th>Location</th>
      <th>Date</th>
    </thead>
    <tbody>
      <tr *ngFor="let event of events" (click)="displaySingleEvent(event)">
        <td>{{ event.name }}</td>
        <td>{{ event.location }}</td>
        <td>{{ event.date }} <br>
      </td>
      </tr>
    </tbody>
  </table>

  <br>
  <!--Button to Add Event-->
  <button *ngIf="!addEventBtn" class="btn btn-primary btn-block" (click)="addEventBtn = true">Create Event</button>
   <!--Add event form-->
  <div *ngIf="addEventBtn">
    <form>
      <div class="form-group">
        <label for="name">Name:<br>
          <input type="text" id="name" class="form-control" name="name" [(ngModel)]="newEvent.name">
        </label>
     </div>
     <div class="form-group">
        <label for="location">Location:<br>
          <input type="text" id="location" class="form-control" name="location" [(ngModel)]="newEvent.location">
        </label>
      </div>
      <div class="form-group">
        <label for="description">Description:<br>
          <input type="textbox" id="description" class="form-control" name="description" [(ngModel)]="newEvent.description">
        </label>
      </div>
      <div class="form-group block">
        <label for="date">Date:<br>
          <input type="date" id="date" class="form-control" name="date" [(ngModel)]="newEvent.date">
        </label>
      </div>
      <button class="btn btn-primary" (click)="createEvent(newEvent)">Add Event</button>
      <button class="btn btn-secondary" (click)="addEventBtn = false">Cancel</button>

    </form>
  </div>
</div>

<!--Shows single event-->
<div class="container bg-light rounded-lg" *ngIf="selectedEvent && !editEvent">
  <h3 style="padding-top: 15px">{{ selectedEvent.name }}</h3>
  <br>
  <h6>Location:</h6>
  <p>{{ selectedEvent.location }}</p>
  <hr>
  <h6>Description:</h6>
  <p>{{ selectedEvent.description }}</p>
  <hr>
  <h6>When:</h6>
  <p>{{ selectedEvent.date }} <br>
    {{ timeToLaunch(selectedEvent) }}</p>

  <button class="btn btn-danger" (click)="deleteEvent(selectedEvent.id)">Delete Event</button>
  <button class="btn btn-warning" (click)="setEditEvent()">Edit</button>
  <button class="btn btn-secondary" (click)="selectedEvent = null">Back</button>
</div>

<!-- Edit form -->
<div class="container bg-light" *ngIf="editEvent">
  <form>
    <div class="form-group">
      <label for="name">Name:<br>
        <input type="text" id="name" class="form-control" name="name" [(ngModel)]="editEvent.name">
      </label>
   </div>
   <div class="form-group">
      <label for="location">Location:<br>
        <input type="text" id="location" class="form-control" name="location" [(ngModel)]="editEvent.location">
      </label>
    </div>
    <div class="form-group">
      <label for="description">Description:<br>
        <input type="textbox" id="description" class="form-control" name="description" [(ngModel)]="editEvent.description">
      </label>
    </div>
    <div class="form-group block">
      <label for="date">Date:<br>
        <input type="date" id="date" class="form-control" name="date" [(ngModel)]="editEvent.date">
      </label>
    </div>
    <button class="btn btn-warning" (click)="updateEvent(editEvent)">Update Event</button>
    <button class="btn btn-secondary" (click)="editEvent = null">Cancel</button>
  </form>
</div>

