/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: 'distantgalexy';
  src: url('/assets/DISTGRG.ttf') format("opentype");
}

html {
  overflow-y: scroll;
}

.body {
  background-image: linear-gradient(180deg, rgba(0,56,73,0.7315301120448179) 0%, rgba(255, 255, 255, 0.8) 30%, rgba(255,255,255, 1) 50%, rgba(255,255,255, 1) 100%), url(https://images.unsplash.com/photo-1520034475321-cbe63696469a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  font-family: 'distantgalexy';
  color: lightskyblue;
  font-size: 50px;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
  -moz-user-select: none;
  user-select: none;
}
